.row {
    margin-bottom: 50px;
}

.file-field {
    margin-bottom: 10px;
}

.col-2 {
    float: right;
    display: contents;
}

.delete, .download {
    width: fit-content;
    block-size: fit-content;
}

.delete-x {
    background-color: red !important;
    color: white;
    text-align: center;
    cursor: pointer;
}

#error, #wrong {
    color: red;
    font-size: 2em;
    text-align: center;
    display: none;
}

#reload {
    margin-left: auto;
    margin-right: 0;
    height: fit-content;
}

.download-x {
    background-color: green !important;
    color: white;
    text-align: center;
    cursor: pointer;
}
